openapi: 3.0.0
info:
  title: "GBrain Organization Api"
  version: "20230615180940"
servers:
  - url: https://beta.pia.genexus.dev/GBrain/API/v1.0/organization
paths:
  /project/get:
    get:
      tags:
        - GBrain.API.v1  
      operationId: "GBrain.API.v1.OrganizationApi.projects__get"
      summary: "projects__get"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GBrain.API.GetProjectsDataResponse"  

        404:
          description: "Not found"

  /request/export:
    get:
      tags:
        - GBrain.API.v1  
      operationId: "GBrain.API.v1.OrganizationApi.requestData"
      summary: "requestData"
      parameters:
        - name: "Assistantname"
          in: "query"
          required: false
          schema:
            type: "string"
            
        - name: "Status"
          in: "query"
          required: false
          schema:
            type: "string"
            
        - name: "Skip"
          in: "query"
          required: false
          schema:
            type: "integer"
            format: "int32"
        - name: "Count"
          in: "query"
          required: false
          schema:
            type: "integer"
            format: "int32"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GBrain.API.v1.RequestDataResponse_RequestDataResponseItem"  

        404:
          description: "Not found"

components:
  schemas:
  
    GBrain.API.GetProjectsDataResponse:
      properties:
        ApiTokenName:
          description: Api Token Name
          type: "string"
        OrganizationId:
          description: Organization Id
          type: "string"
          format: "uuid"
        OrganzationName:
          description: Organzation Name
          type: "string"

        Projects:
          type: array
          items:
            description: ProjectsItem
            $ref: "#/components/schemas/GBrain.API.GetProjectsDataResponse.Projects_ProjectsItem"


    GBrain.API.GetProjectsDataResponse.Projects_ProjectsItem:
      properties:
        ProjectId:
          description: Project Id
          type: "string"
          format: "uuid"
        ProjectName:
          description: Project Name
          type: "string"

        SearchIndexProfile:
          type: array
          items:
            description: SearchIndexProfileItem
            $ref: "#/components/schemas/GBrain.API.GetProjectsDataResponse.Projects.SearchIndexProfile_SearchIndexProfileItem"

      x-gx-level: "GetProjectsDataResponse"

    GBrain.API.GetProjectsDataResponse.Projects.SearchIndexProfile_SearchIndexProfileItem:
      properties:
        Id:
          description: Search Index Profile Name
          type: "string"
        Name:
          description: Index Profile Description
          type: "string"


      x-gx-level: "GetProjectsDataResponse.Projects"

    GBrain.API.v1.RequestDataResponse_RequestDataResponseItem:
      properties:
        item:
          description: Request Data Item
          $ref: "#/components/schemas/GBrain.API.v1.RequestDataItem"



    GBrain.API.v1.RequestDataItem:
      properties:
        assistant:
          description: assistant
          type: "string"
        intent:
          description: intent
          type: "string"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        prompt:
          description: prompt
          type: "string"
        output:
          description: output
          type: "string"
        inputText:
          description: input Text
          type: "string"
        status:
          description: status
          type: "string"



 
