openapi: 3.0.0
info:
  title: "Pia Beta"
  version: "20230607171556"
servers:
  - url: https://beta.pia.genexus.dev/GBrain/API/v1
paths:
  /assistant:
    post:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.assistant__post"
      summary: "assistant__post"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assistant__postInput"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pia.API.v1.GenericQueryResponse"  

        404:
          description: "Not found"

  /assistantChat:
    post:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.assistantChat__post"
      summary: "assistantChat__post"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assistantChat__postInput"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pia.API.v1.GenericQueryResponse"  

        404:
          description: "Not found"

  /projects:
    get:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.projects"
      summary: "projects"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GBrain.Api.GetProjectsDataResponse"  

        404:
          description: "Not found"

  /GetProjects:
    get:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.GetProjects"
      summary: "GetProjects"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GBrain.Api.GetProjectsDataResponse"  

        404:
          description: "Not found"

  /SearchChat:
    post:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.SearchChat__post"
      summary: "SearchChat__post"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchChat__postInput"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GBrain.Api.Search.SearchChatResponse"  

        404:
          description: "Not found"

  /text2img:
    post:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.text2img__post"
      summary: "text2img__post"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/text2img__postInput"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pia.API.v1.Images.GenerateImageResponse"  

        404:
          description: "Not found"

  /request/{requestId}/status:
    get:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.status"
      summary: "status"
      parameters:
        - name: "requestId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pia.API.v1.Images.GenerateImageResponse"  

        404:
          description: "Not found"

  /request/{requestId}/cancel:
    post:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.cancel__post"
      summary: "cancel__post"
      parameters:
        - name: "requestId"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cancel__postInput"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pia.API.v1.CancelResponse"  

        404:
          description: "Not found"

  /request/export:
    get:
      tags:
        - GBrain.Api  
      operationId: "GBrain.Api.GBrainApi.requestData"
      summary: "requestData"
      parameters:
        - name: "Assistantname"
          in: "query"
          required: false
          schema:
            type: "string"
            
        - name: "Status"
          in: "query"
          required: false
          schema:
            type: "string"
            
        - name: "Skip"
          in: "query"
          required: false
          schema:
            type: "integer"
            format: "int32"
        - name: "Count"
          in: "query"
          required: false
          schema:
            type: "integer"
            format: "int32"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pia.API.v1.RequestDataResponse_RequestDataResponseItem"  

        404:
          description: "Not found"

components:
  schemas:
    assistant__postInput:
      properties:
        assistant:
          type: "string"
        prompt:
          type: "string"
        revision:
          type: "integer"
          format: "int32"
        revisionName:
          type: "string"

    assistantChat__postInput:
      properties:
        assistant:
          type: "string"
        messages:
          description: Chat Request Data
          type: array
          items:
            $ref: "#/components/schemas/Pia.API.v1.ChatRequestData_ChatRequestDataItem"
        revision:
          type: "integer"
          format: "int32"
        revisionName:
          type: "string"



    SearchChat__postInput:
      properties:
        profile:
          type: "string"
        question:
          type: "string"

    text2img__postInput:
      properties:
        prompt:
          type: "string"


    cancel__postInput:
      properties:
        requestId:
          type: "string"
          format: "uuid"

  
    Pia.API.v1.GenericQueryResponse:
      properties:
        requestId:
          description: Request Id
          type: "string"
          format: "uuid"
        error:
          description: Response Error
          $ref: "#/components/schemas/Pia.API.v1.ResponseError"
        success:
          description: success
          type: "boolean"
        providerName:
          description: Provider Name
          type: "string"
        providerResponse:
          description: provider Response
          type: "string"
        progress:
          description: progress
          type: "integer"
          format: "int32"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        status:
          description: status
          type: "string"
        text:
          description: text
          type: "string"



    Pia.API.v1.ChatRequestData_ChatRequestDataItem:
      properties:
        role:
          description: role
          type: "string"
        content:
          description: content
          type: "string"



    GBrain.Api.GetProjectsDataResponse:
      properties:
        ApiTokenName:
          description: Api Token Name
          type: "string"
        OrganizationId:
          description: Organization Id
          type: "string"
          format: "uuid"
        OrganzationName:
          description: Organzation Name
          type: "string"

        Projects:
          type: array
          items:
            description: ProjectsItem
            $ref: "#/components/schemas/GBrain.Api.GetProjectsDataResponse.Projects_ProjectsItem"


    GBrain.Api.GetProjectsDataResponse.Projects_ProjectsItem:
      properties:
        ProjectId:
          description: Project Id
          type: "string"
          format: "uuid"
        ProjectName:
          description: Project Name
          type: "string"

        SearchIndexProfile:
          type: array
          items:
            description: SearchIndexProfileItem
            $ref: "#/components/schemas/GBrain.Api.GetProjectsDataResponse.Projects.SearchIndexProfile_SearchIndexProfileItem"

      x-gx-level: "GetProjectsDataResponse"

    GBrain.Api.GetProjectsDataResponse.Projects.SearchIndexProfile_SearchIndexProfileItem:
      properties:
        Id:
          description: Search Index Profile Name
          type: "string"
        Name:
          description: Index Profile Description
          type: "string"


      x-gx-level: "GetProjectsDataResponse.Projects"

    GBrain.Api.Search.SearchChatResponse:
      properties:
        documents:
          description: Document SDT
          type: array
          items:
            $ref: "#/components/schemas/GBrain.SearchChat.Impl.DocumentSDT"
        text:
          description: text
          type: "string"
        log:
          description: log
          type: "string"
        requestId:
          description: Request Id
          type: "string"
          format: "uuid"
        error:
          description: Response Error
          $ref: "#/components/schemas/Pia.API.v1.ResponseError"
        success:
          description: success
          type: "boolean"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        status:
          description: status
          type: "string"

        result:
          $ref: "#/components/schemas/GBrain.Api.Search.SearchChatResponse.result"


    GBrain.Api.Search.SearchChatResponse.result:
      properties:
        success:
          description: success
          type: "boolean"
        messages:
          description: messages
          type: array
          items:
            type: "string"


      x-gx-level: "SearchChatResponse"

    Pia.API.v1.Images.GenerateImageResponse:
      properties:
        requestId:
          description: Request Id
          type: "string"
          format: "uuid"
        error:
          description: Response Error
          $ref: "#/components/schemas/Pia.API.v1.ResponseError"
        providerName:
          description: Provider Name
          type: "string"
        providerResponse:
          description: provider Response
          type: "string"
        progress:
          description: progress
          type: "integer"
          format: "int32"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        status:
          description: status
          type: "string"
        hotlink:
          description: hotlink
          type: "boolean"

        output:
          type: array
          items:
            description: outputItem
            $ref: "#/components/schemas/Pia.API.v1.Images.GenerateImageResponse.output_outputItem"


    Pia.API.v1.Images.GenerateImageResponse.output_outputItem:
      properties:
        image_url:
          description: image_url
          type: "string"


      x-gx-level: "GenerateImageResponse"

    Pia.API.v1.CancelResponse:
      properties:
        requestId:
          description: Request Id
          type: "string"
          format: "uuid"
        error:
          description: Response Error
          $ref: "#/components/schemas/Pia.API.v1.ResponseError"
        providerResponse:
          description: provider Response
          type: "string"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        status:
          description: status
          type: "string"



    Pia.API.v1.RequestDataResponse_RequestDataResponseItem:
      properties:
        item:
          description: Request Data Item
          $ref: "#/components/schemas/Pia.API.v1.RequestDataItem"



    GBrain.SearchChat.Impl.DocumentSDT:
      properties:
        pageContent:
          description: page Content
          type: "string"

        metadata:
          $ref: "#/components/schemas/GBrain.SearchChat.Impl.DocumentSDT.metadata"


    GBrain.SearchChat.Impl.DocumentSDT.metadata:
      properties:
        source:
          description: source
          type: "string"


      x-gx-level: "DocumentSDT"

    Pia.API.v1.RequestDataItem:
      properties:
        assistant:
          description: assistant
          type: "string"
        intent:
          description: intent
          type: "string"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        prompt:
          description: prompt
          type: "string"
        output:
          description: output
          type: "string"
        inputText:
          description: input Text
          type: "string"
        status:
          description: status
          type: "string"



    Pia.API.v1.ResponseError:
      properties:
        code:
          description: Error Code
          type: "integer"
          format: "int32"
        message:
          description: Error Message
          type: "string"



 
