openapi: 3.0.0
info:
  title: "GBrain SearchChat Api"
  version: "20230615180940"
servers:
  - url: https://beta.pia.genexus.dev/GBrain/API/v1.0/search
paths:
  /execute:
    post:
      tags:
        - GBrain.API.v1  
      operationId: "GBrain.API.v1.SearchChatApi.execute__post"
      summary: "execute__post"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/execute__postInput"
      
      responses:
        200:
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GBrain.API.Search.SearchChatResponse"  

        404:
          description: "Not found"

components:
  schemas:
    execute__postInput:
      properties:
        profile:
          type: "string"
        question:
          type: "string"
  
    GBrain.API.Search.SearchChatResponse:
      properties:
        documents:
          description: Document SDT
          type: array
          items:
            $ref: "#/components/schemas/GBrain.SearchChat.Impl.DocumentSDT"
        text:
          description: text
          type: "string"
        log:
          description: log
          type: "string"
        requestId:
          description: Request Id
          type: "string"
          format: "uuid"
        error:
          description: Response Error
          $ref: "#/components/schemas/GBrain.API.v1.ResponseError"
        success:
          description: success
          type: "boolean"
        timestamp:
          description: timestamp
          type: "string"
          format: "date-time"
        status:
          description: status
          type: "string"

        result:
          $ref: "#/components/schemas/GBrain.API.Search.SearchChatResponse.result"


    GBrain.API.Search.SearchChatResponse.result:
      properties:
        success:
          description: success
          type: "boolean"
        messages:
          description: messages
          type: array
          items:
            type: "string"


      x-gx-level: "SearchChatResponse"

    GBrain.API.v1.ResponseError:
      properties:
        code:
          description: Error Code
          type: "integer"
          format: "int32"
        message:
          description: Error Message
          type: "string"



    GBrain.SearchChat.Impl.DocumentSDT:
      properties:
        pageContent:
          description: page Content
          type: "string"

        metadata:
          $ref: "#/components/schemas/GBrain.SearchChat.Impl.DocumentSDT.metadata"


    GBrain.SearchChat.Impl.DocumentSDT.metadata:
      properties:
        source:
          description: source
          type: "string"
        description:
          description: description
          type: "string"
        id:
          description: id
          type: "string"
        name:
          description: name
          type: "string"
        extension:
          description: extension
          type: "string"
        locationLinesFrom:
          description: location Lines From
          type: "integer"
          format: "int64"
        locationLinesTo:
          description: location Lines To
          type: "integer"
          format: "int64"
        locationLinesPageNumber:
          description: location Lines Page Number
          type: "integer"
          format: "int64"


      x-gx-level: "DocumentSDT"

 
